html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

body {
  line-height: 1;
  cursor: default;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;
}


a {
  cursor: pointer;
}

.blue {
	color: #06C;
}

.green {
	color: #090;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
img {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  /* font-family: "Open Sans", Arial, sans-serif; */
  font-size: 18px;
  line-height: 1.75;
  color: #666666;
  background-color: #f5f5f5;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  color: #fdc333;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: #fdc333;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Open Sans", Arial, sans-serif;*/
  margin-bottom: 15px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  border: 1px solid #d5d5d5;
  outline: 0;
  padding: 10px 12px;
  color: #666666;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  border-color: #666666;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.main-btn {
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 40px 0;
}

ul.social-icons {
  position: relative;
  z-index: 11;
  margin: 30px 0;
}
ul.social-icons li {
  display: inline-block;
  margin: 0 2px;
  padding-left: 10px;
  padding-right: 10px;
}
ul.social-icons li a {
  width: 36px;
  height: 36px;
  background-color: white;
  color: #444444;
  text-align: center;
  line-height: 36px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}

.main-header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 99;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.scrolled {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#menu-wrapper {
  background-color: white;
  overflow: hidden;
  -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
}

.logo-wrapper {
  background: url(../images/logo.png) no-repeat;
  height: 100px;
  background-position: 15px;
  z-index: 999;
}
.logo-wrapper a {
  display: block;
  overflow: hidden;
  padding-left: 130px;
  line-height: 100px;
  text-transform: uppercase;
  color: #fdc333;
  font-size: 32px;
  font-weight: 700;
}

.main-menu ul li {
  display: inline-block;
  margin: 0 20px;
}
.main-menu ul li:last-child {
  margin-right: 35px;
}
.main-menu ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #444444;
  line-height: 100px;
  padding-top: 37px;
}
.main-menu ul li.active a {
  border-top: 3px solid #fdc333;
  color: #fdc333;
}

a.toggle-menu {
  width: 36px;
  height: 36px;
  float: right;
  margin-top: 33px;
  margin-right: 30px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background: #d5d5d5;
  display: inline-block;
  color: black;
}

.menu-responsive {
  display: none;
  background-color: rgba(50, 50, 50, 0.88);
}
.menu-responsive ul li {
  padding: 5px 0px 5px 25px;
}
.menu-responsive ul li a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.menu-responsive ul li.active a {
  color: #fdc333;
}

.flexslider {
  position: relative;
  top: -10px;
}
.flexslider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
}
.flexslider .slider-caption {
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  top: 280px;
  left: 0;
}
.flexslider .slider-caption h2 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: inline-block;
}
.flexslider .slider-caption p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 36px;
  display: block;
}
.flexslider .slider-caption a.slider-btn {
  color: white;
  background-color: #fdc333;
  padding: 12px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.projects_header {
  background-image: url(../images/header.jpg);
  -webkit-background-size: cover;
  background-position: 0% 80%;
  background-size: cover;
  bottom: 0px;
  box-sizing: border-box;
  display: block;
  height: 160px;
}

@media screen and (max-width: 1024px) {
  .flexslider .slider-caption {
    top: 180px;
    font-size: 18px;
  }
  .flexslider .slider-caption p {
    font-size: 16px;
  }
  .flexslider .slider-caption h2 {
    font-size: 18px;
  }
  .flexslider a.slider-btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .flexslider .slider-caption {
    top: 60px;
    font-size: 16px;
  }
  .flexslider .slider-caption p {
    font-size: 14px;
  }
  .flexslider .slider-caption h2 {
    font-size: 16px;
  }
  .flexslider a.slider-btn {
    font-size: 12px;
  }
}


.content-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.heading-section {
  margin-bottom: 60px;
}
.heading-section h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #444444;
  display: inline-block;
}
.heading-section p {
  color: #444444;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}

.heading-section2 {
  margin-bottom: 60px;
}
.heading-section2 h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  display: inline-block;
  color: #fff;
}
.heading-section2 p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}

.small-text {
  color: #aaaaaa;
}

.space-fixed {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.content-section#services {
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-item {
  position: relative;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.service-item a {
  display: block;
  color: #ffff66;
}

.service-item a:hover {
  color: black;
}

.service-item .service-icon {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 3em;
  padding: 110px 0;
}
.service-item .service-content {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.service-item .service-content .inner-service {
  padding: 20px;
  font-weight: 400;
}
.service-item .service-content .inner-service h3{
  font-weight: 600;
}

.service-item .service-content h3 {
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
.service-item:hover .service-icon {
  opacity: 0;
  visibility: hidden;
}
.service-item:hover .service-content {
  opacity: 1;
  visibility: visible;
  font-size: 28px;
}

#service-1 {
  background-color: #1abc9c;
}

#service-2 {
  /*background-color: #e67e22;*/
  background: url(../images/trip.jpg);
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

#service-3 {
  /*background-color: #3498db;*/
  background: url(../images/abroad.jpg);
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}

#service-4 {
  background-color: #2ecc71;
}

.portfolio-item {
  margin-bottom: 30px;
  max-width:100%;
  height:auto;
}
.portfolio-item .portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-item .portfolio-thumb a{
  display: block;
}
.portfolio-item .portfolio-thumb img {
  width: 100%;
  height: 360px;
}
.portfolio-item .portfolio-thumb .portfolio-overlay {
  background-color: #fdc333;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 25px;
  text-align: center;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.portfolio-item .portfolio-thumb .portfolio-overlay h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid white;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand {
  margin-top: 15px;
  width: 60px;
  height: 60px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  background-color: white;
  display: inline-block;
  text-align: center;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand i {
  line-height: 36px; 
  padding-top: 10px;
}
.portfolio-item .portfolio-thumb:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
}
.team-member {
  margin-bottom: 30px;
}
.team-member .member-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.team-member .member-thumb img {
  width: 100%;
}
.team-member .member-thumb .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #fdc333;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.team-member .member-thumb .team-overlay h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-top: 64px;
}
.team-member .member-thumb .team-overlay span {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 10px;
  display: block;
}
.team-member .member-thumb .team-overlay ul.social {
  display: block;
  margin-top: 20px;
}
.team-member .member-thumb .team-overlay ul.social li {
  display: inline-block;
}
.team-member .member-thumb .team-overlay ul.social li a {
  width: 36px;
  height: 36px;
  background-color: white;
  line-height: 40px;
  color: #fdc333;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}
.team-member .member-thumb:hover .team-overlay {
  opacity: 1;
  visibility: visible;
}

.skills-heading {
  margin-top: 60px;
  margin-bottom: 50px;
}
.skills-heading h3.skills-title {
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  color: #5e5e5e;
}
.skills-heading .small-text {
  font-style: italic;
}

.progress {
  height: 34px;
  box-shadow: none;
  border-radius: 0;
  background-color: #e7e7e7;
  margin-bottom: 10px;
}

.progress-bar {
  line-height: 34px;
  text-align: left;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #fdc333;
  box-shadow: none;
}

.googlemap-wrapper {
  height: 380px;
  margin-bottom: 40px;
}

.map-canvas {
  height: 380px;
  border: 10px solid #efefef;
}

.contact-info {
  margin-top: 40px;
}

.contact-form input {
  width: 100%;
  margin-bottom: 15px;
}
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  height: 120px;
}
.contact-form .mainBtn {
  margin-top: 15px;
  color: white;
  background-color: #fdc333;
  text-transform: uppercase;
  border: 0;
}

#go-top {
  background-color: #fdc333;
  color: white;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
}

#contact_footer {
  padding-top: 50px;
  background-color: #2b2d2e;
  padding-left: -15px;
  padding-right: -15px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  z-index: 99;
}
#contact_footer h4{
  color: #fdc333;
  font-size: 22px;
}

.link-contrast {
  color: #fff;
  font-size: 16px;
}

.link-contrast p{
  color: #fff;
  font-size: 16px;
}

.link-contrast:hover {
  color: #fdc333;
}

select {
  background-color: #565a5c;
  border: 0;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 80%;
  font-size: 16px;
}

.cx-number {
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
}

.va-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 150px;
  text-align: center;
  color: white;
}

.va-middle {
  font-size: 30px;
  font-weight: 600;
}

.discovery-section {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(86, 90, 92);
  display: block;
  font-size: 24px;
  padding-bottom: 50px;
  font-weight: 600;
}
.discovery-section p{
  font-size: 18px;
  font-weight: 200;
  text-justify:auto;
  text-align:justify;
}
.item_head{
  padding-left: 12px;
  font-size: 48px;
}
.discovery-section img{
  width: 100%;
}
.des_row {
  padding-top: 30px;
}
.des_item img {
  width: 100%;
}
.border-section {
  border-bottom: 1px solid rgb(86, 90, 92);
  margin-bottom: 30px;
  padding-bottom: 60px;
}
/*update
---------------------------------------------- */
.experience-item {
	margin-bottom: 30px;
	max-width: 100%;
	height: auto;
}
.experience-item .experience-thumb {
	position: relative;
	overflow: hidden;
}
.experience-item .experience-thumb a{
	display: block;
}
.experience-item .experience-thumb img {
	width: 100%;
	height: 360px;
}
.experience-item .experience-thumb .experience-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	color: white;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.experience-item .experience-thumb .experience-overlay h3 {
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: inline-block;
	border-bottom: 1px solid white;
}
.experience-item .experience-thumb .experience-overlay a.expand {
	margin-top: 15px;
	width: 60px;
	height: 60px;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	background-color: white;
	display: inline-block;
	text-align: center;
}
.experience-item .experience-thumb .experience-overlay a.expand i {
	line-height: 36px; 
	padding-top: 10px;
}
.experience-item .experience-thumb:hover .experience-overlay {
	opacity: 1;
	visibility: visible;
}
.experience-item .experience-thumb h2 {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: 1px solid #76A6F0;
	margin-top: 10px;
	display: inline-block;
}
.experience-item .experience-thumb p{
	color: #444444;
	font-size: 10px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 10px;
}
.ordering-section {
	position: relative;
	top: -30px;
}
.ordering-section .image-caption {
	position: absolute;
	z-index: 9;
	width: 100%;
	top: 200px;
	left: 0;
}
.ordering-section img{
	width: 100%;
	-webkit-background-size: cover;
	background-position: 0% 80%;
	background-size: cover;
	box-sizing: border-box;
	display: block;
	height: 360px;
}
.ordering-section .image-caption a.image-border {
	color: white;
	background: transparent;
	padding: 20px 50px;
	border-radius: 5px;
	border: 1px solid #76A6F0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 15px;
}
.content-section#experience {
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: #E6E6E6;
}

/* button 
---------------------------------------------- */
.button {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 24px/100%;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  width: 100%;
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
/* red */
.red {
  color: #faddde;
  border: solid 1px #980c10;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
  background: #b61318;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(top,  #c9151b,  #a11115);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
  color: #de898c;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

.depature_btn {
  padding-top: 30px;
}

.f-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 300px;
  text-align: center;
  color: white;
}

.f-middle {
  font-size: 30px;
  font-weight: 600;
}

.footer-item {
  position: relative;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-item a {
  display: block;
}
.footer-item img {
  width: 100%;
}

.tbqh img{
  width: 100%;
  z-index: 99;
  -webkit-background-size: cover;
  background-position: 0% 80%;
  background-size: cover;
  box-sizing: border-box;
  display: block;
  height: 240px;
}	
.side-bar a,.chat-tips i {
  background-image: url(../images/side-bar.png);
  background-repeat: no-repeat;
}
/*右侧悬浮icon*/
.side-bar {
  width: 66px;
  position: fixed;
  bottom: 120px;
  right: 25px;
  font-size: 0;
  line-height: 0;
  z-index: 100;
}
.side-bar a {
  width: 66px;
  height: 66px;
  display: inline-block;
  background-color: #fdc333;
  margin-bottom: 2px;
}
.side-bar a:hover {
  background-color: #669fdd;
}
.side-bar .icon-qq {
  background-position: 0 -62px;
}
.side-bar .icon-chat {
  background-position: 0 -130px;
  position: relative;
}
.side-bar .icon-chat:hover .chat-tips {
  display: block;
}
.side-bar .icon-blog {
  background-position: 0 -198px;
}
.side-bar .icon-mail {
  background-position: 0 -266px;
}
.side-bar .icon-totop {
  background-position: 0 -334px;
}
.chat-tips {
  padding: 20px;
  border: 1px solid #d1d2d6;
  position: absolute;
  right: 78px;
  top: -55px;
  background-color: #ffffff;
  display: none;
}
.chat-tips i {
  width: 9px;
  height: 16px;
  display: inline-block;
  position: absolute;
  right: -9px;
  top: 80px;
  background-position:-88px -350px;
}
.chat-tips img {
  width: 158px;
  height: 158px;
}